<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Автомобили</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="dropdown">
    <button
            class="btn btn-secondary dropdown-toggle bg-transparent text-dark btn-sm ms-3"
            type="button"
            id="MyAccountDDM"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false">
        Автомобили
    </button>

    <ul class="dropdown-menu" aria-labelledby="MyAccountDDM" id="AppDropDownId">
      {% for name_car in auto %}
        <li>
            <div class="btn-group dropend">
                <a type="button" class="dropdown-item dropdown-toggle p-0" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ name_car }}
                </a>
                <ul class="dropdown-menu">
                    {% for model in models %}
                        {% if name_car.pk == model.model_pk_id %}
                            <li><a class="dropdown-item" href="#">{{ model }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
      {% endfor %}
    </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>