<!--{% load static %}-->
<!DOCTYPE html>
<html lang="ru">
<h1>
    Hello
</h1>
  <body>
    <main>
        {% block content %}
            {% for md in auto %}
                <li>
                    Марка автомобиля {{ md }}
                </li>
            {% endfor %}
        {% endblock %}
    </main>
  </body>
</html>


<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Действие
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Действие</a></li>
    <li><a class="dropdown-item" href="#">Другое действие</a></li>
    <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Отделенная ссылка</a></li>
  </ul>
</div>